* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E2D3B;
}

.card_dischi {
    background-color: #2E3A46;
    width: calc((100% / 4) - 20px);
    margin: 10px 10px;
    height: 400px;
}

.card_dischi>img {
    height: 250px;
    width: 100%;
}

header {
    background-color: #2E3A46;
    margin-bottom: 50px;
}

header img {
    height: 50px;
    margin: 25px 0;
}